In [12]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [13]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mar Del Plata,AR,2021-11-30 01:23:02,-38.0023,-57.5575,59.02,91,75,11.99
1,1,Paamiut,GL,2021-11-30 01:23:02,61.9940,-49.6678,32.18,98,100,29.51
2,2,Jamestown,US,2021-11-30 01:23:02,42.0970,-79.2353,33.39,93,90,11.50
3,3,Manicore,BR,2021-11-30 01:23:03,-5.8092,-61.3003,75.09,90,92,0.43
4,4,Carnarvon,AU,2021-11-30 01:21:58,-24.8667,113.6333,75.27,60,0,24.16

In [14]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [15]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [16]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [17]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent wind 
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig
# Heatmap of percent cloudiness

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Manicore,BR,2021-11-30 01:23:03,-5.8092,-61.3003,75.09,90,92,0.43
4,4,Carnarvon,AU,2021-11-30 01:21:58,-24.8667,113.6333,75.27,60,0,24.16
5,5,Sao Filipe,CV,2021-11-30 01:23:04,14.8961,-24.4956,75.13,69,100,15.01
6,6,Kapaa,US,2021-11-30 01:18:14,22.0752,-159.3190,82.38,77,75,5.99
10,10,Rikitea,PF,2021-11-30 01:23:06,-23.1203,-134.9692,76.60,78,4,20.04
11,11,Faanui,PF,2021-11-30 01:23:06,-16.4833,-151.7500,80.40,78,100,13.18
12,12,Cabedelo,BR,2021-11-30 01:20:22,-6.9811,-34.8339,81.27,77,70,10.63
16,16,Omboue,GA,2021-11-30 01:23:08,-1.5746,9.2618,76.89,91,100,6.87
18,18,Vaini,TO,2021-11-30 01:21:58,-21.2000,-175.2000,84.36,61,20,11.50
19,19,Bambous Virieux,MU,2021-11-30 01:23:09,-20.3428,57.7575,73.22,83,20,3.44

In [23]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
3          Manicore      BR     75.09  -5.8092  -61.3003
4         Carnarvon      AU     75.27 -24.8667  113.6333
5        Sao Filipe      CV     75.13  14.8961  -24.4956
6             Kapaa      US     82.38  22.0752 -159.3190
10          Rikitea      PF     76.60 -23.1203 -134.9692
11           Faanui      PF     80.40 -16.4833 -151.7500
12         Cabedelo      BR     81.27  -6.9811  -34.8339
16           Omboue      GA     76.89  -1.5746    9.2618
18            Vaini      TO     84.36 -21.2000 -175.2000
19  Bambous Virieux      MU     73.22 -20.3428   57.7575

In [25]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Manicore,BR,75.09,-5.8092,-61.3003,Hotel Durval
4,Carnarvon,AU,75.27,-24.8667,113.6333,Hospitality Carnarvon
5,Sao Filipe,CV,75.13,14.8961,-24.4956,Hotel Xaguate
6,Kapaa,US,82.38,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
10,Rikitea,PF,76.60,-23.1203,-134.9692,People ThankYou
11,Faanui,PF,80.40,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
12,Cabedelo,BR,81.27,-6.9811,-34.8339,Hotel Pigalle
16,Omboue,GA,76.89,-1.5746,9.2618,Hotel Olako
18,Vaini,TO,84.36,-21.2000,-175.2000,Keleti Beach Resort
19,Bambous Virieux,MU,73.22,-20.3428,57.7575,Casa Tia Villa

In [28]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [31]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [32]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))