## Deliverable 3. Create a Travel Itinerary Map.

In [43]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [11]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Rikitea,PF,76.24,light rain,-23.1203,-134.9692,People ThankYou
1,1,Georgetown,MY,79.90,scattered clouds,5.4112,100.3354,Cititel Penang
2,4,Tura,IN,72.70,clear sky,25.5198,90.2201,Hotel RIKMAN Continental
3,7,Butaritari,KI,82.27,broken clouds,3.0707,172.7902,Isles Sunset Lodge
4,8,Busselton,AU,72.09,clear sky,-33.6500,115.3333,Observatory Guest House

In [12]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt><b>Hotel Name</b></dt><dd>{Hotel Name}</dd>
<dt><b>City</b></dt><dd>{City}</dd>
<dt><b>Country</b></dt><dd>{Country}</dd>
<dt><b>Current Weather</b></dt><dd>{Current Description}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [45]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=='Pochutla']
vacation_end = vacation_df.loc[vacation_df['City']=='Pochutla']
vacation_stop1 = vacation_df.loc[vacation_df['City']=='Puerto Escondido']
vacation_stop2 = vacation_df.loc[vacation_df['City']=='Acapulco'] 
vacation_stop3 = vacation_df.loc[vacation_df['City']=='Lazaro Cardenas']
print(vacation_start)

     City_ID      City Country  Max Temp Current Description      Lat  \
193      631  Pochutla      MX     77.83       broken clouds  15.7432

         Lng             Hotel Name
193 -96.4661  Hotel Posada San Jose

In [47]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start['Lat'].to_numpy()[0],vacation_start["Lng"].to_numpy()[0])
end = (vacation_end['Lat'].to_numpy()[0],vacation_end["Lng"].to_numpy()[0])
stop1 = (vacation_stop1['Lat'].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0])
stop2 = (vacation_stop2['Lat'].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0])
stop3 = (vacation_stop3['Lat'].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0])

In [50]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
Mexico_trip = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING')
fig.add_layer(Mexico_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [53]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,631,Pochutla,MX,77.83,broken clouds,15.7432,-96.4661,Hotel Posada San Jose
1,631,Pochutla,MX,77.83,broken clouds,15.7432,-96.4661,Hotel Posada San Jose
2,227,Puerto Escondido,MX,77.83,few clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
3,323,Acapulco,MX,80.42,clear sky,16.8634,-99.8901,HS Hotsson Smart Acapulco
4,519,Lazaro Cardenas,MX,77.72,clear sky,17.9583,-102.2000,quinta antigua

In [60]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt><b>Hotel Name</b></dt><dd>{Hotel Name}</dd>
<dt><b>City</b></dt><dd>{City}</dd>
<dt><b>Country</b></dt><dd>{Country}</dd>
<dt><b>Current Weather</b></dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [61]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))